  <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/carousel/1.jpeg" class="d-block w-100" alt="cupcakes with teal icing">
      </div>
      <div class="carousel-item">
        <img src="/assets/carousel/2.jpeg" class="d-block w-100" alt="cupcakes with pink icing on top">
      </div>
      <div class="carousel-item">
        <img src="/assets/carousel/3.jpeg" class="d-block w-100" alt="cupcakes with rainbow icing">
      </div>
      <div class="carousel-item">
        <img src="/assets/carousel/4.jpeg" class="d-block w-100" alt="cupcakes with teal icing and sprinkles">
      </div>
      <div class="carousel-item">
        <img src="/assets/carousel/5.jpeg" class="d-block w-100" alt="cupcakes with icing and sprinkles">
      </div>
    </div>
  </div>