<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
    </tr>
  </tbody>
</table>