<a href="/login" class="btn btn-outline-info mx-3 text-nowrap rounded-pill px-4" role="button">Logot</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
    </tr>
  </tbody>
</table>