.my-grid {
  padding: 50px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  column-gap: 10px;
  row-gap: 10px;
}

.card-body a.btn {
  align-self: flex-start;
}
