:root {
  --color-white: #fff;
  --color-pink-light: #e99ed4;
  --color-pink-middle: #e074c1;
  --color-pink-dark: #d74aae;
  --color-green-pale: #f0ffff;
  --color-green-light: #06a89b;
  --color-green-dark: #037d73;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form .btn-outline-info,
button.btn-outline-info,
a.btn-outline-info {
  border: 2px solid var(--color-green-dark);
  color: var(--color-green-dark);
  text-decoration: none;
}
form .btn-outline-info:hover,
button.btn-outline-info:hover,
a.btn-outline-info:hover {
  background: var(--color-green-dark);
  color: var(--color-white);
  border: 2px solid var(--color-green-dark);
}

a.btn-success,
button.btn-success {
  color: var(--color-pink-dark);
  background-color: var(--color-white);
  border: 2px solid var(--color-pink-middle);
}
a.btn-success:hover,
button.btn-success:hover {
  background-color: var(--color-pink-middle);
  border: 2px solid var(--color-pink-middle);
  color: var(--color-white);
}

button.btn.btn-success.full {
  background-color: var(--color-pink-dark);
  border: 2px solid var(--color-pink-dark);
  color: var(--color-white);
}
button.btn.btn-success.full:hover {
  background-color: var(--color-pink-middle);
  border: 2px solid var(--color-pink-middle);
  color: var(--color-white);
}

form .btn-outline-info:focus,
button.btn-outline-info:focus,
a.btn-outline-info:focus,
a.btn-success:focus,
button.btn-success:focus,
button.btn-info:focus,
a.btn-info:focus {
  outline: none;
  box-shadow: none;
}
